[*.cs]

# CA1873: Avoid potentially expensive logging
dotnet_diagnostic.CA1873.severity = none

# IDE290
csharp_style_prefer_primary_constructors = false:suggestion

# All private fields use _camelCase, including static and const
dotnet_naming_rule.private_fields_should_be_underscore_camel.severity = suggestion
dotnet_naming_rule.private_fields_should_be_underscore_camel.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_underscore_camel.style = underscore_camel_case

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.underscore_camel_case.required_prefix = _
dotnet_naming_style.underscore_camel_case.capitalization = camel_case
